@import "./base.css";

html {
  font-size: 62.5%;
}

#app {
  padding: 2rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.list {
  text-align: center;
  width: 100%;
  & th {
    text-decoration: underline;
    line-height: 2rem;
  }
}

ul {
  list-style-type: none;
  margin-block: var(--spacing-0);
  padding-block: var(--spacing-0);
  padding-inline: var(--spacing-0);
}
