.radio-group {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  max-width: 70rem;

  & li {
    line-height: 4rem;
  }

  & .radio-input {
    display: none;

    &:checked + label {
      background-color: cadetblue;
      color: #fff;
    }
  }

  & .radio-label {
    cursor: pointer;
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid #000;
  }
}
